.sidebar-content {
    top: 5em;
    bottom: 6em;
    position: absolute;
    width: 95%;
}
#leftSidebarContent {
    overflow-y: auto;
    top: 1.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    font-family: "roboto", sans-serif;
}
.sidebarLoading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarLoaded {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}
.sidebar-toggle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-toggle.left {
    top: 0.2em;
    right: 0.2em;
    font-size: 1em;
}

.sidebar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.sidebar {
    transition: transform 1s;
    z-index: 99;
    width: 300px;
    height: 100%;
}

.subWindow .sidebar {
    display: none;
}

.collapsed.left {
    transform: translateX(-295px);
}

.sidebarContentTable {
    display: flex;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-radius: 1em;
}
.sidebarContentTable:hover {
    background-color: #f1f3f4;
    cursor: pointer;
}
.sidebarContentName {
    font-weight: thin;
    line-height: 2.5em;
    padding-left: 0.5em;
}
.sidebarContentHorizontalLine {
    border: none;
    height: 1px;
    background-color: gray;
}
#sidebarIcons {
    fill: rgb(0, 132, 255);
    height: 2em;
}
.sidebarIconDiv {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIconText {
    width: 80%;
    margin: 0;
    padding-top: 0;
    padding-right: 1em;
}
